@import url("https://fonts.googleapis.com/css2?family=Anton:wght@400&family=Roboto:wght@400&family=Special+Elite:wght@400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 39, 56, 85;
	--background-start-rgb: 29, 40, 59;
	--background-end-rgb: 255, 255, 255;
	--font-specialElite: "Special Elite", sans-serif;
	--font-anton: "Anton", sans-serif;
	--font-roboto: "Roboto", sans-serif;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 39, 56, 85;
		--background-end-rgb: 68, 146, 235;
	}
}

body {
	color: rgb(var(--foreground-rgb));
}

@layer utilities {
	.nav-link {
		@apply text-zinc-300 hover:text-white transition-colors;
	}
}
